{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper" style="min-height: 2646.62px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Профиль</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-body">           
                <div class="tab-pane active" id="settings">
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label"
                        >Имя</label>
                      <div class="col-sm-10">
                        <p>
                            {{ user }}
                        </p>
                      </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"
                          >Email</label>
                        <div class="col-sm-10">
                          <p>
                              {{ user.profile.email }}
                          </p>
                        </div>
                      </div>
                    
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"
                          >WB токен</label>
                        <div class="col-sm-10">
                          <p>
                              {{ user.profile.wb_token }}
                          </p>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"
                          >Ozon токен</label>
                        <div class="col-sm-10">
                          <p>
                              {{ user.profile.ozon_token }}
                          </p>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"
                          >Ozon client id</label>
                        <div class="col-sm-10">
                          <p>
                              {{ user.profile.ozon_client_id }}
                          </p>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"
                          >Telegram username</label>
                        <div class="col-sm-10">
                          <p>
                              {{ user.profile.tg_username }}
                          </p>
                        </div>
                      </div>
                      
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <a href="{% url 'profile:edit_profile' %}" class="btn btn-danger">Редактировать</a>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <a href="{% url 'shops:add_shops' %}" class="btn btn-danger">Добавить новый магазин</a>
                        <a href="{% url 'shops:view_shops' %}" class="btn btn-danger">Просмотреть мои магазины</a>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
